.room {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-around;
}

.room .videos {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--element-bg-darker);
    min-width: 300px;
    min-height: 170px;
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    overflow-y: auto;
}

.room .videos::-webkit-scrollbar {
    display: none;
}

.room .videos > video {
    background-color: var(--element-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    min-width: 250px;
    min-height: 140px;
    max-width: 350px;
    max-height: 200px;
    margin: 20px 0 20px 0;
}
