.room {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-around;
    min-width: 500px;
}

.room .videos {
    position: relative;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--element-bg-darker);
    width: 45%;
    height: inherit;
}

.room .videos .videos-wrapper {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.room .videos .videos-wrapper::-webkit-scrollbar {
    display: none;
}

.room .videos .videos-wrapper .user-video {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 200px;
    width: 45%;
    margin: 20px 0 20px 0;
}

.room .videos .videos-wrapper .user-video > video{
    background-color: var(--element-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    min-height: 125px;
    width: 100%;
}

.room .videos .videos-wrapper .user-video .video-username {
    position: absolute;
    bottom: 5px;
    left: 5px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--element-bg);
    padding: 2px 8px;
}

.room .chat {
    display: flex;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--element-bg-darker);
    width: 45%;
    height: inherit;
}
