.room {
    display: flex;
    flex: 1;
    justify-content: center;
}

.room .inline-divs {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    top: 20%;
    overflow-y: auto;
}

.filler {
    width: 40%;
    height: 50%;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}
