:root {
  font-family: 'JetBrains Mono', sans-serif;

  --toastify-color-dark: #424769;
  --toastify-color-light: #FEECE2;
  --toastify-toast-width: 300px;
  --toastify-toast-min-height: 50px;
  --toastify-toast-max-height: 50px;
  --toastify-font-family: 'JetBrains Mono', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

input, button, .Toastify__toast {
  transition: all 0.3s ease-in-out;
}

body {
  transition: all 0.3s ease-in-out;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

body.initial-load {
  background-color: var(--bg);
  color: var(--text);
  transition: none;
}

[theme="light"] {
  --bg: #F3E8DD;
  --text: #5C5470;
  --border: #D7C0AE;
  --element-bg: #EEE3CB;
  --element-bg-darker: #E8D4C3;
  --element-text: #B3A492;
  --shadow: #070F2B;

  --toastify-icon-color-success: #E2BFB3;
  --toastify-color-progress-success: #E2BFB3;
}

[theme="dark"] {
  --bg: #352F44;
  --text: #B9B4C7;
  --border: #535C91;
  --element-bg: #424769;
  --element-bg-darker: #383C59;
  --element-text: #7077A1;
  --shadow: #F0CAA3;

  --toastify-icon-color-success: #535C91;
  --toastify-color-progress-success: #535C91;
}

.notification {
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}
