.aiortc {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.aiortc .connection-establisher {
  display: flex;
  position: absolute;
  top: 30%;
}

.aiortc .chat {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 300px;
  width: 250px;
}

.aiortc .chat #chat-area {
  height: 100px;
}
